body{
	background-color: #b19668;
}

#sideBar{
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 200px;
	height: 100%;
	background-color: black;
}

h1{
	color: yellow;
	font-family: "Bauhaus 93";
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	line-height: 85%;
}

h2{
	margin-top: 24px;
	color: gray;
	font-family: "Agency FB";
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

h3{
	color: gray;
	font-family: "Arial";
	font-size: 36px;
}

#pField{
	display: block;
	width: 900px;
	height: 600px;
	margin: 50px auto;
	padding: 0;
	border-right: white 10px solid;
	border-top: #7d887d 12px ridge;
	border-left: #7d887d 12px ridge;
	border-bottom: #7d887d 12px ridge;
	background-color: green;
}

#playBtn{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 40px;
	background-color: #a91111;
	color: white;
	font-size: 16px;
	font-weight: bold;
}